Задание 1.
Импортируйте библиотеки pandas, numpy и matplotlib.
Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. 
Создайте датафреймы X и y из этих данных.

Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test)
с помощью функции train_test_split так, чтобы размер тестовой выборки 
составлял 20% от всех данных, при этом аргумент random_state должен быть равен 42.

Масштабируйте данные с помощью StandardScaler.

Постройте модель TSNE на тренировочный данных с параметрами:
n_components=2, learning_rate=250, random_state=42.

Постройте диаграмму рассеяния на этих данных.

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
#%config InlineBackend.figure_format = 'svg'
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('svg')
from sklearn.datasets import load_boston

In [6]:
boston = load_boston()
x = pd.DataFrame(boston.data, columns=boston.feature_names)
x.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>CRIM</th>
      <th>ZN</th>
      <th>INDUS</th>
      <th>CHAS</th>
      <th>NOX</th>
      <th>RM</th>
      <th>AGE</th>
      <th>DIS</th>
      <th>RAD</th>
      <th>TAX</th>
      <th>PTRATIO</th>
      <th>B</th>
      <th>LSTAT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.00632</td>
      <td>18.0</td>
      <td>2.31</td>
      <td>0.0</td>
      <td>0.538</td>
      <td>6.575</td>
      <td>65.2</td>
      <td>4.0900</td>
      <td>1.0</td>
      <td>296.0</td>
      <td>15.3</td>
      <td>396.90</td>
      <td>4.98</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.02731</td>
      <td>0.0</td>
      <td>7.07</td>
      <td>0.0</td>
      <td>0.469</td>
      <td>6.421</td>
      <td>78.9</td>
      <td>4.9671</td>
      <td>2.0</td>
      <td>242.0</td>
      <td>17.8</td>
      <td>396.90</td>
      <td>9.14</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.02729</td>
      <td>0.0</td>
      <td>7.07</td>
      <td>0.0</td>
      <td>0.469</td>
      <td>7.185</td>
      <td>61.1</td>
      <td>4.9671</td>
      <td>2.0</td>
      <td>242.0</td>
      <td>17.8</td>
      <td>392.83</td>
      <td>4.03</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.03237</td>
      <td>0.0</td>
      <td>2.18</td>
      <td>0.0</td>
      <td>0.458</td>
      <td>6.998</td>
      <td>45.8</td>
      <td>6.0622</td>
      <td>3.0</td>
      <td>222.0</td>
      <td>18.7</td>
      <td>394.63</td>
      <td>2.94</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.06905</td>
      <td>0.0</td>
      <td>2.18</td>
      <td>0.0</td>
      <td>0.458</td>
      <td>7.147</td>
      <td>54.2</td>
      <td>6.0622</td>
      <td>3.0</td>
      <td>222.0</td>
      <td>18.7</td>
      <td>396.90</td>
      <td>5.33</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
y = pd.DataFrame(boston.target, columns=['price'])
y.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>24.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>21.6</td>
    </tr>
    <tr>
      <th>2</th>
      <td>34.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>33.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>36.2</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [21]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler(with_mean=True)
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
X_train_scaled = pd.DataFrame(X_train_scaled, columns=boston.feature_names)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=boston.feature_names)

In [22]:
from sklearn.manifold import TSNE
tsne = TSNE(n_components=2, learning_rate=250, random_state=42)
X_train_tsne = tsne.fit_transform(X_train_scaled)

In [23]:
plt.scatter(X_train_tsne[:, 0], X_train_tsne[:, 1])
plt.show()

Задание 2.
С помощью KMeans разбейте данные из тренировочного набора на 3 кластера, 
используйте все признаки из датафрейма X_train.
Параметр max_iter должен быть равен 100, random_state сделайте равным 42.

Постройте еще раз диаграмму рассеяния на данных, полученных с помощью TSNE,
и раскрасьте точки из разных кластеров разными цветами.

Вычислите средние значения price и CRIM в разных кластерах.

In [31]:
from sklearn.cluster import KMeans
k_means = KMeans(n_clusters=3, max_iter=100, random_state=42)
labels_train = k_means.fit_predict(X_train_scaled)

In [33]:
pd.value_counts(labels_train)

2    191
1    127
0     86
dtype: int64

In [34]:
labels_test = k_means.fit_predict(X_test_scaled)

In [58]:
plt.scatter(X_train_tsne[:, 0], X_train_tsne[:, 1], c=labels_train)
plt.text(-25, -8, 'Кластер 1')
plt.text(11, -10, 'Кластер 2')
plt.text(0, 28, 'Кластер 3')
plt.show()

In [39]:
y_train[labels_train == 0].mean()

price    27.788372
dtype: float64

In [40]:
y_train[labels_train == 1].mean()

price    16.165354
dtype: float64

In [41]:
y_train[labels_train == 2].mean()

price    24.958115
dtype: float64

In [52]:
X_train.loc[labels_train == 0, 'CRIM'].mean()

0.07356558139534884

In [53]:
X_train.loc[labels_train == 1, 'CRIM'].mean()

10.797028425196851

In [54]:
X_train.loc[labels_train == 2, 'CRIM'].mean()

0.4216602094240837

Задание 3.
Примените модель KMeans, построенную в предыдущем задании,
к данным из тестового набора.

Вычислите средние значения price и CRIM в разных кластерах на тестовых данных.

In [57]:
y_test, y_train

(     price
 173   23.6
 274   32.4
 491   13.6
 72    22.8
 452   16.1
 76    20.0
 316   17.8
 140   14.0
 471   19.6
 500   16.8
 218   21.5
 9     18.9
 414    7.0
 78    21.2
 323   18.5
 473   29.8
 124   18.8
 388   10.2
 195   50.0
 448   14.1
 271   25.2
 278   29.1
 30    12.7
 501   22.4
 421   14.2
 474   13.8
 79    20.3
 454   14.9
 210   21.7
 497   18.3
 ..     ...
 444   10.8
 355   20.6
 77    20.8
 398    5.0
 104   20.1
 203   48.5
 381   10.9
 489    7.0
 69    20.9
 408   17.2
 255   20.9
 392    9.7
 312   19.4
 234   29.0
 460   16.4
 324   25.0
 93    25.0
 137   17.1
 176   23.2
 417   10.4
 131   19.6
 346   17.2
 365   27.5
 132   23.0
 371   50.0
 412   17.9
 436    9.6
 411   17.2
 86    22.5
 75    21.4

 [102 rows x 1 columns],      price
 477   12.0
 15    19.9
 332   19.4
 423   13.4
 19    18.2
 325   24.6
 335   21.1
 56    24.7
 437    8.7
 409   27.5
 334   20.7
 181   36.2
 227   31.6
 434   11.7
 180   39.8
 25    13.9
 493   21.8
 238   23.7
 244   17.6
 250   24.4
 418    8.8
 117   19.2
 42    25.3
 322   20.4
 347   23.1
 182   37.9
 155   15.6
 280   45.4
 126   15.7
 329   22.6
 ..     ...
 276   33.2
 443   15.4
 191   30.5
 385    7.2
 293   23.9
 413   16.3
 343   23.9
 257   50.0
 308   22.8
 149   15.4
 130   19.2
 151   19.6
 359   22.6
 99    33.2
 372   50.0
 87    22.2
 458   14.9
 330   19.8
 214   23.7
 466   19.0
 121   20.3
 505   11.9
 20    13.6
 188   29.8
 71    21.7
 106   19.5
 270   21.1
 348   24.5
 435   13.4
 102   18.6

 [404 rows x 1 columns])